*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    background-color: rgb(111, 117, 135);
    padding: 20px 40px 0 20px;
}
h2{
    font-size: 30px;
}


    /*--HEADER--*/

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

header{
    text-align: center;
}
#new__task__form{
    margin-top: 30px;
}
#new__task__text{
    background-color: rgb(67, 67, 67);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    width: 50%;
}

#new__task__submit{
    color: rgb(185, 110, 255);
    cursor: pointer;
    padding: 0 0 0 15px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s ease;
}
#new__task__submit:hover{
    transform: scale(1.1);
    opacity: 0.8;
}


    /*--MAIN--*/

main{
    margin: o auto;
}


.task{
    background-color: rgb(67, 67, 67);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

#tasks .task .content{
    padding-left: 500px;
}
.task__Text{
    font-size: 15px;
    color: rgb(118, 118, 118);
    width: 500px;
    margin-left: -500px;
}

#tasks .task .content .task__Text:not(:read-only){
    color: aquamarine;
}

.edit{
    color: #fff;
    cursor: pointer;
    padding: 0 15px 0 0;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s ease;
}
.edit:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.delete{
    color: rgb(255, 45, 45);
    cursor: pointer;
    padding: 0 15px 0 0;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s ease;
}
.delete:hover{
    transform: scale(1.1);
    opacity: 0.8;
}